<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn search-btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav nav-links justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/explore">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <form class="nav-link" action="/logout?_method=DELETE" method="POST">
        <button id="logoutButton" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>

<ul class="list-group chat-container">
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <h5>Chatrooms</h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Gaming</p>
    <button type="button" class="btn btn-dark channel-1-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Socialize</p>
    <button type="button" class="btn btn-dark channel-2-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Travel</p>
    <button type="button" class="btn btn-dark channel-3-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Recipes</p>
    <button type="button" class="btn btn-dark channel-4-button">Join</button>
  </li>
   <p class="typing" id="typing"></p>
  <ul class="messages chatroom-messages" id="messages">
  </ul>
  <form class="form-inline form chat-form" id="chatForm">
    <input class="form-control mr-sm-2 input-messages" id="txt" autocomplete="off" autofocus="on"
      placeholder="Write a message..." />
    <button class="btn btn-dark chat-button">Send</button>
  </form>
</ul>