<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn search-btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav nav-links justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/explore">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <form class="nav-link" action="/logout?_method=DELETE" method="POST">
        <button id="logoutButton" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>
<ul class="list-group chat-container">
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <h5>Chatrooms</h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Gaming</p>
    <button type="button" class="btn btn-dark channel-1-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Socialize</p>
    <button type="button" class="btn btn-dark channel-2-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Travel</p>
    <button type="button" class="btn btn-dark channel-3-button">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Recipes</p>
    <button type="button" class="btn btn-dark channel-4-button">Join</button>
  </li>
  <ul class="messages chatroom-messages" id="messages">
    <div class="typing" id="typing"></div>
  </ul>
  <form class="form-inline form chat-form" id="chatForm">
    <input class="form-control mr-sm-2 input-messages" id="txt" autocomplete="off" autofocus="on"
      placeholder="Write a message..." />
    <button class="btn btn-dark chat-button">Send</button>
  </form>
</ul>
<div class="float-container">
  <div class="game-container">
    <div class="card game-card">
      <a href="/games/snake"><img class="card-img" src="./css/images/snake.png" alt="Card image cap"></a>
      <div class="card-body game-card-body">
        <a href="/games/snake">
          <h5 class="card-title game-card-title">Snake</h5>
        </a>
        <p class="card-text">Eat as much food as you can without crashing into yourself or the walls!</p>
      </div>
    </div>
    <div class="card game-card">
      <a href="/games/snake"><img class="card-img" src="./css/images/arcade-joystick.jpg" alt="Card image cap"></a>
      <div class="card-body game-card-body">
        <a href="/games/snake">
          <h5 class="card-title game-card-title">On the way!</h5>
        </a>
        <p class="card-text">Future games are on the way!</p>
      </div>
    </div>
    <div class="card game-card">
      <a href="/games/snake"><img class="card-img" src="./css/images/arcade-joystick.jpg" alt="Card image cap"></a>
      <div class="card-body game-card-body">
        <a href="/games/snake">
          <h5 class="card-title game-card-title">On the way!</h5>
        </a>
        <p class="card-text">Future games are on the way!</p>
      </div>
    </div>
    <div class="card game-card">
      <a href="/games/snake"><img class="card-img" src="./css/images/arcade-joystick.jpg" alt="Card image cap"></a>
      <div class="card-body game-card-body">
        <a href="/games/snake">
          <h5 class="card-title game-card-title">On the way!</h5>
        </a>
        <p class="card-text">Future games are on the way!</p>
      </div>
    </div>
  </div>
</div>