<div class="row" style="margin-top: 0.9%;">
        <div class="col-sm-12">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="card-title">Home</h5>
              <p class="card-text">Welcome to the AmalgaNation! Your hub for connecting with people from all over the world, from the comfort of home! Join a chat, play a game, explore!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top: 0.9%;">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="card-title">Gaming News</h5>
              <p class="card-text">click here for some of the latest news in the gaming world.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top: 0.9%">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="card-title">Travel News</h5>
              <p class="card-text">click here for some of the latest travel information and visitor guides.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>