<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Logout</a>
    </li>
  </ul>
</nav>

<ul class="list-group chat-container">
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <h5>Chatrooms</h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Gaming</p>
    <button type="button" class="btn btn-dark gaming-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Socialize</p>
    <button type="button" class="btn btn-dark socialize-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Travel</p>
    <button type="button" class="btn btn-dark travel-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Recipes</p>
    <button type="button" class="btn btn-dark recipes-btn">Join</button>
  </li>
</ul>


<div class="card main-container">
  <div class="card-body">
    <h5 class="card-title">Home</h5>
    <p class="card-text">Welcome to the AmalgaNation! Your hub for connecting with people from all over the world,
      from the comfort of home! Join a chat, play a game, explore!</p>
  </div>
</div>
<div class="card" style="opacity: 0.8;">
  <div class="card-body">
    <h5 class="card-title">Gaming News</h5>
    <p class="card-text">click here for some of the latest news in the gaming world.</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
<div class="card" style="opacity: 0.8;">
  <div class="card-body">
    <h5 class="card-title">Travel News</h5>
    <p class="card-text">click here for some of the latest travel information and visitor guides.</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>



<!-- JQuery JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<!-- Code to the JavaScript file with ajax call -->
<script src="../public/js/travel-api.js"></script>