<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h1 class="navbar-text header">AmalgaNation</h1>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
    </ul>
</nav>

{{#each errors}}
<p class="flash-error"> {{this}} </p>
{{/each}}

<div class="card main-container">
    <h1 class="main-container-title">Login</h1>
    <form class="login-form" action="/login" method="POST">
        <div class="input">
            <label for="email">Email Address</label>
            <br>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="submit">
            <a class="btn btn-primary" href="/register" role="button">Register</a>
            <button id="submit-login" class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>

<script>
    $("#submit-login").on("click", function (event) {
        event.preventDefault();

        $.post("/login", {
            email: $("#email").val(),
            password: $("#password").val()
        }).then(function (res) {
            console.log("++++++++++++++++++++++")
            console.log(res);
            window.location.href = "/";
        })
    })
</script>