<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Logout</a>
    </li>
  </ul>
</nav>

<ul class="list-group amalgamate-container">
  <li class="list-group-item d-flex justify-content-between align-items-center my-amalgamates">
    My AmalgaMates
    <span class="badge badge-primary badge-pill">3</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Diana Shull
    <span class="badge badge-success badge-pill amalgamate">online</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Neal Gerber
    <span class="badge badge-success badge-pill amalgamate">online</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Zacharie Lafleur
    <span class="badge badge-danger badge-pill amalgamate">offline</span>
  </li>
</ul>

<div class="row" style="margin-top: 0.9%;">
  <div class="col-sm-12">
    <div class="card" style="opacity: 0.8;">
      <div class="card-body">
        <h5 class="profile-title">Sydney Goodwill</h5>
        <p class="user-name">@lynyrd_sydnyrd</p>
        <p class="card-text">Contact: sydneyjogoodwill@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="margin-top: 0.9%;">
    <div class="card" style="opacity: 0.8;">
      <div class="card-body">
        <h5 class="card-title">My Messages</h5>
        <ul>
          <!-- we can even link to the message per entry; <a href="" target="_blank">Message 1: 10/25/2020"</a> -->
          <li>Message 1: 10/25/2020, 8:00am</li>
          <li>Message 2: 10/26/2020, 9:45pm</li>
          <li>Message 3: 10/27/2020, 10:35pm</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="margin-top: 0.9%">
    <div class="card" style="opacity: 0.8;">
      <div class="card-body">
        <h5 class="card-title">Chat!</h5>
        <button class="channel-1-button">Main Chat</button>
        <button class="channel-2-button">Gaming</button>
        <button class="channel-3-button">Travel</button>
        <button class="channel-4-button">Lewd</button>
        <ul class="messages" id="messages">
          <div class="typing" id="typing"></div>
        </ul>
        <form class="form-inline form chat-form" id="chatForm">
          <input class="input-messages" id="txt" autocomplete="off" autofocus="on"
            placeholder="type your message here..." />
          <button class="btn btn-outline-success my-2 my-sm-0 chat-button">Chat Now</button>
        </form>


      </div>
    </div>
  </div>
</div>