<div class="row" style="margin-top: 0.9%;">
        <div class="col-sm-12">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="profile-title">Sydney Goodwill</h5>
              <p class="user-name">@lynyrd_sydnyrd</p>
              <p class="card-text">Contact: sydneyjogoodwill@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top: 0.9%;">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="card-title">My Messages</h5>
              <ul>
                <!-- we can even link to the message per entry; <a href="" target="_blank">Message 1: 10/25/2020"</a> -->
                <li>Message 1: 10/25/2020, 8:00am</li>
                <li>Message 2: 10/26/2020, 9:45pm</li>
                <li>Message 3: 10/27/2020, 10:35pm</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="margin-top: 0.9%">
          <div class="card" style="opacity: 0.8;">
            <div class="card-body">
              <h5 class="card-title">Chat!</h5>
            <ul class="messages" id="messages">
              <div class="typing" id="typing"></div>
            </ul>
            <form class="form-inline form" id="chatForm">
              <input class="input-messages" id="txt" autocomplete="off" autofocus="on"
              placeholder="type your message here..." />
              <button class="btn btn-outline-success my-2 my-sm-0 chat-button">Chat Now</button>
            </form>

            
            </div>
          </div>
        </div>
      </div>
      