<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn bsearch-btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/register">Register</a>
    </li>
  </ul>
</nav>

{{#each errors}}
<p> {{this}} </p>
{{/each}}

<div class="card login-container">
  <h1 class="main-container-title">Register</h1>
  <form class="login-form" action="/register" method="POST">
    <div class="input">
      <label for="email">Username</label>
      <br>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="input">
      <label for="email">Email Address</label>
      <br>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="input">
      <label for="password">Password</label>
      <br>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="submit">
      <button id="submit-login" class="btn btn-secondary" type="submit">Login</button>
      <a class="btn btn-primary" href="/register" role="button">Register</a>
    </div>
  </form>
</div>

<script>
  $("#submit-register").on("click", function (event) {
    event.preventDefault();

    $.post("/register", {
      username: $("#username").val(),
      email: $("#email").val(),
      password: $("#password").val()
    }).then(function (res) {
      window.location.href = "/login";
    })
  })
</script>