<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn search-btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/explore">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Logout</a>
    </li>
  </ul>
</nav>

<ul class="list-group chat-container">
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <h5>Chatrooms</h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Gaming</p>
    <button type="button" class="btn btn-dark gaming-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Socialize</p>
    <button type="button" class="btn btn-dark socialize-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Travel</p>
    <button type="button" class="btn btn-dark travel-btn">Join</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center chatrooms">
    <p>Recipes</p>
    <button type="button" class="btn btn-dark recipes-btn">Join</button>
  </li>
</ul>

<div class="card snake-card">
  <div class="card-body snake-card-body">
    <div class="titles">
      <h5 id="score" class="card-title snake-card-title">Score: 0</h5>
      <h5 id="high-score" class="card-title snake-card-title high-score">High Score: 60000</h5>
    </div>
    <p id="p" class="card-text snake-card-text">Press "P" to start and pause! Use the arrow keys to move the snake! Eat all the foods you can!</p>
  </div>
  <canvas id="game-canvas" width="500" height="300"></canvas>
</div>

<script src="/js/snake.js"></script>