<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <h1 class="navbar-text header">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/explore">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <form action="/logout?_method=DELETE" method="POST">
        <button id="logoutButton" type="submit">Logout</button>
      </form>
    </li>
  </ul>

<h1 id="score">0</h1>

<p id="p">Press "P" to start and pause! Use the arrow keys to move the snake! Eat all the foods you can!</p>

<canvas id="game-canvas" width="400" height="400"></canvas>


<style>
  #game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #score {
    text-align: center;
    font-size: 100px;
  }

  #p {
    text-align: center;
  }
</style>

<script src="/js/snake.js"></script>