<h1 id="score">0</h1>

<p id="p">Press "P" to start and pause! Use the arrow keys to move the snake! Eat all the foods you can!</p>

<canvas id="game-canvas" width="400" height="400"></canvas>


<style>
    #game-canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #score {
        text-align: center;
        font-size: 100px;
    }

    #p {
        text-align: center;
    }
</style>

<script src="/js/snake.js"></script>