@media (min-width: 768px) {
    .list-group {
        float: left;
    }
}
html {
    background: url("/css/map.png") no-repeat;
    background-size: cover;
    overflow: auto;
    background-color: transparent;
}
body {
  background-color: transparent;
}
.list-group {
  opacity: 0.8;
  margin-top: 1%;
}
.flash-error {
  color: red;
}