@media (max-width: 1500px) {
  .nav-link {
    padding: 5px;
  }
}
@media (max-width: 1280px) {
  .search > .form-control {
    width: 150px!important;
  }
  .nav-link {
    font-size: 0.8rem;
  }
  .header {
    font-size: 1.5rem;
  }
}
html {
    background: url("/css/map.png") no-repeat;
    background-size: cover;
    overflow: auto;
    background-color: transparent;
    height: 100%;
}
body {
  background-color: transparent;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 2px;
}
.justify-text {
  text-align: justify;
}
.bold {
  font-weight: bold;
}
.height-100 {
  height: 100%;
}
/* Navbar Styling */
.search {
  width: 25%;
}
.search > .form-control {
  max-width: 215px!important;
}
.search-btn {
  color: #15ACDB;
  border-color: #15ACDB;
}
.header {
  color: white!important;
  text-align: center;
  width: 45%;
}
.nav-text {
  width: 25%;
}
.nav-link {
  color: #15ACDB;
}
/* Active Chat Styling */
.chat-container {
  width: 20%;
  opacity: 0.9;
  margin-top: 20px;
  float: left;
}
.chatrooms > h5 {
  margin-top: .5rem;
  font-weight: bold;
}
.chatrooms > p {
  margin: auto 0;
}
/* Main Content Styling */
.login-container {
  width: 350px;
  margin: 20px auto;
  opacity: 0.9;
  padding: 15px 25px;
}
.main-container-title {
 text-align: center;
}
.carousel {
  margin: 20px 2%;
  padding: 40px;
  justify-content: center;
  height: 50%;
  width: 76%;
  float: left;
  background-color: rgba(255,255,255, 0.9);
}
.carousel-indicators {
  margin: 0;
}
.carousel-inner {
  margin: 100 0;
}
.carousel-card {
  color: #343A40;
  background-color: rgba(255,255,255, 0);
  text-align: center;
  align-items: center;
  border: none;
  height: 100%;
}
.carousel-card-title {
  font-size: 4rem;
  font-weight: bold;
  align-items: center;
}
.carousel-card-body > hr {
  height: 3px;
  background-color: #15ACDB;
}
.carousel-card-body > p {
 font-size: 1.2rem!important;
 margin: 20px 0px 0px 0px!important;
}
.who {
  padding-right: 20px;
}
/* Login Page Styling */
.login-form {
  text-align: left;
  height: 100%;
  width: 100%;
}
.login-form div {
  height: 100%;
  width: 100%;
}
.login-form > .input > label {
  font-weight: bold;
  margin: 0px 2px 5px 2px;
}
.login-form > .input > input {
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}
.login-form > .submit {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.login-form > .submit > .btn {
  width: 49%;
  margin: 0;
}
/* Snake Game Styling */
.snake-card {
  margin: 20px auto;
  width: 60%;
  background-color: rgba(255,255,255, 0.9);
}
.snake-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.snake-card-text {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
#game-canvas {
  padding: 10px 0 40px 0;
  width: 80%;
  margin: 0 auto;
}